<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar main-sidebar" (mouseenter)="mouseHover()" (mouseleave)="mouseOut()">

  <div class="sidebar-brand mt-3">
    <a routerLink="/dashboard/main" aria-label="Inicio">
      <app-logo [logoClass]="'header-logo'"></app-logo>
    </a>
  </div>

  <!-- Menu -->
  <nav class="menu" aria-label="Menú principal">
    <ul class="list" [ngStyle]="{ 'max-height': 'calc(100vh - 80px)', 'max-width': listMaxWidth + 'px' }">

      <!-- User profile picture -->
      <li class="sidebar-user-panel">
        <button type="button" class="user-panel" aria-label="Editar imagen de perfil"
          (click)="profileImgComponent.openImageProfileModal()">
          <div class="image">
            <img [src]="user?.image_profile_url ? user?.image_profile_url : 'assets/images/user.svg'"
              (error)="$any($event.target).src='assets/images/user.svg'" class="img-fluid img-circle user-img-circle"
              alt="Foto de perfil del usuario" />
          </div>
        </button>
      </li>

      <!-- User profile info -->
      <li>
        <div class="profile-usertitle">
          <div class="sidebar-userpic-name">{{ user.name + ' ' + user.last_name }}</div>
          <div class="profile-usertitle-job">{{ user.user_name }}</div>
          <div class="profile-usertitle-job mt-2">
            <output class="btn btn-sm badge-outline col-red" *ngIf="user.activation_date == null"><i
                class="bi bi-person-exclamation" aria-hidden="true"></i> Inactivo</output>
            <output class="btn btn-sm badge-outline col-green" *ngIf="user.activation_date != null"><i
                class="bi bi-person-fill-check" aria-hidden="true"></i> {{ grading === null ? 'Activo' : grading.name
              }}</output>
          </div>
        </div>
      </li>

      <!-- Top Most level menu -->
      <li *ngFor="let sidebarItem of sidebarItems"
        [routerLinkActive]="sidebarItem.submenu.length !== 0 ? 'active' : 'active-top'">

        <h2 class="header" *ngIf="sidebarItem.groupTitle">{{ sidebarItem.title | translate }}</h2>

        <a *ngIf="!sidebarItem.groupTitle" [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null"
          [ngClass]="[sidebarItem.class]" (click)="callToggleMenu($event, sidebarItem.submenu.length)" class="menu-top">
          <i-feather [name]="sidebarItem.icon" class="sidebarIcon" aria-hidden="true"></i-feather>
          <span class="hide-menu">{{ sidebarItem.title | translate }}</span>
          <span *ngIf="sidebarItem.badge !== ''" [ngClass]="[sidebarItem.badgeClass]">{{ sidebarItem.badge }}</span>
        </a>

        <!-- First level menu -->
        <ul class="ml-menu" *ngIf="sidebarItem.submenu.length > 0">
          <li *ngFor="let sidebarSubItem1 of sidebarItem.submenu"
            [routerLinkActive]="sidebarSubItem1.submenu.length > 0 ? '' : 'active'">
            <a [routerLink]="sidebarSubItem1.submenu.length > 0 ? null : [sidebarSubItem1.path]"
              (click)="callToggleMenu($event, sidebarSubItem1.submenu.length)" [ngClass]="[sidebarSubItem1.class]">
              {{ sidebarSubItem1.title | translate }}
            </a>

            <!-- Second level menu -->
            <ul class="ml-menu-2" *ngIf="sidebarSubItem1.submenu.length > 0">
              <li *ngFor="let sidebarSubItem2 of sidebarSubItem1.submenu"
                [routerLinkActive]="sidebarSubItem2.submenu.length > 0 ? '' : 'active'">
                <a [routerLink]="sidebarSubItem2.submenu.length > 0 ? null : [sidebarSubItem2.path]"
                  (click)="callToggleMenu($event, sidebarSubItem2.submenu.length)" [ngClass]="[sidebarSubItem2.class]">
                  {{ sidebarSubItem2.title | translate }}
                </a>

                <!-- Third level menu -->
                <ul class="ml-menu-3" *ngIf="sidebarSubItem2.submenu.length > 0">
                  <li *ngFor="let sidebarSubItem3 of sidebarSubItem2.submenu"
                    [routerLinkActive]="sidebarSubItem3.submenu.length > 0 ? '' : 'active'">
                    <a [routerLink]="sidebarSubItem3.submenu.length > 0 ? null : [sidebarSubItem3.path]"
                      (click)="callToggleMenu($event, sidebarSubItem3.submenu.length)"
                      [ngClass]="[sidebarSubItem3.class]">
                      {{ sidebarSubItem3.title | translate }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
  <!-- #Menu -->

</aside>
<!-- #END# Left Sidebar -->

<app-image-profile-modal #profileImgComponent></app-image-profile-modal>
