<div class="products-section">
  <div class="pp-grid">
    <ng-container *ngFor="let item of productList">
      <div class="product-card" *ngIf="!item.productType" (mouseenter)="item.showButton = true"
        (mouseleave)="item.showButton = false">
        <div class="product-card__image-wrap" (click)="addtocart(item)">
          <img [src]="item.image" [alt]="item.name" class="product-card__img">
          <div class="product-card__overlay" [class.show]="item.showButton" aria-hidden="true">
            <button class="product-card__cta-btn">
              <i class="bi bi-plus-circle-fill me-2"></i>
              Añadir al carrito
            </button>
          </div>
        </div>
        <div class="product-card__footer">
          <img src="assets/images/logos/Logo-recybot.png" class="product-card__brand" alt="RecyBot">
          <div class="product-card__info">
            <span class="product-card__name">{{ item.name }}</span>
            <span class="product-card__price">${{ item.baseAmount }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
